.lol {
    color: black;
    background-color: teal;  
    margin: 0 auto;
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 10px;

}
.title {
    font-size: 100px;
    color: red;
    background-color: teal;
}